@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* will do later */
  }
  .dark {
    --background: #121212;
    --foreground: #e0e0e0;
    --card: #1f2024;
    --card-foreground: #e0e0e0;
    --card-secondary-foreground: #a8a8a8;
    --card-border: #34363d;
    --in-progress: #0bbafd;
    --todo: #ffbf07;
    --completed: #3ddc97;
    --priority-low: #706d6d;
    --priority-medium: #b04d0f;
    --priority-high: #b31515;
  }
}
